# Streamlit Local Configurations & Secrets
src/.streamlit/config.toml
src/.streamlit/secrets.toml

# unwanted files
src/api_usage_tracker.txt
src/ignore_app_1.py
src/ignore_app_2.py
Lab.ipynb

# unwanted directories
temp/
.venv/
src/__pycache__/
